{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-xl">Your details</span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    {% set rows = [] %}

    {# WORKING CONDITIONAL ROW CLASS #}
    {% set borderClass = "no-bottom-border" if data['deceased-next-of-kin-informer'] | lower == "yes" else "" %}

    {% set _ = rows.push({
      key: { text: "Are you Joe Bloggs' next of kin?" },
      value: { text: data['deceased-next-of-kin-informer'] | capitalize },
      classes: borderClass,
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "your relationship"
          }
        ]
      }
    }) %}

    {% if data['deceased-next-of-kin-informer'] | lower != "yes" %}

      {% set _ = rows.push({
        key: { text: "What is the next of kin's name?" },
        value: { text: data['next-of-kin-name'] | titlecase },
        actions: {
          items: [
            { href: "#", text: "Change", visuallyHiddenText: "next of kin name" }
          ]
        }
      }) %}

      {% set _ = rows.push({
        key: { html: "What is " + (data['next-of-kin-name'] | titlecase) + "’s relationship to Joe Bloggs?" },
        value: { text: data['next-of-kin-relationship'] | capitalize },
        actions: {
          items: [
            { href: "#", text: "Change", visuallyHiddenText: "next of kin relationship" }
          ]
        }
      }) %}

      {% set _ = rows.push({
        key: { html: "Can " + (data['next-of-kin-name'] | titlecase) + " be contacted?" },
        value: { text: data['next-of-kin-contact-preference'] | capitalize },
        actions: {
          items: [
            { href: "#", text: "Change", visuallyHiddenText: "next of kin contact preference" }
          ]
        }
      }) %}

    {% endif %}

    {{ govukSummaryList({ rows: rows }) }}

    <form action="/next-of-kin-complete" method="post" novalidate>
      {{ govukButton({ text: "Accept and continue" }) }}
    </form>

  </div>
</div>
{% endblock %}