{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-xl">Your details</span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <dl class="govuk-summary-list">

      <!-- ROW 1 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are you {{ data['deceased-forename'] }} {{ data['deceased-surname'] }}’s next of kin?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['deceased-next-of-kin-informer'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> are you the next of kin</span>
          </a>
        </dd>
      </div>


      <!-- CONDITIONAL CONTENT IF NOT NEXT OF KIN -->
      <!-- Remove this section entirely if they said “Yes” -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the next of kin’s name?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['next-of-kin-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> next of kin name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is {{ data['next-of-kin-name'] }}’s relationship to {{ data['deceased-forename'] }} {{
          data['deceased-surname'] }}?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['next-of-kin-relationship'] == 'other' %}
          Other – {{ data['next-of-kin-relationship-other-text'] }}
          {% else %}
          {{ data['next-of-kin-relationship'] }}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> next of kin relationship</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Can {{ data['next-of-kin-name'] }} be contacted?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['next-of-kin-contact-preference'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact preference</span>
          </a>
        </dd>
      </div>

    </dl>


    <form action="/next-of-kin-complete" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Accept and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}