<aside id="contact">
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">0800 085 7308</p>
    <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language
        (BSL) (opens in new tab)</a></p>
    <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
    <h3 class="govuk-heading-s">Email</h3>
    <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
</aside>