//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "../../../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min";


.govuk-table__nh_header, .govuk-table__nh_cell {
    padding: 10px 20px 10px 0;
    text-align: left;
    vertical-align: top;
}

.nh__group {
    display: inline-block;
}


.govuk-button-nh-group {
        margin-right: -15px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        display: inline-flex;
    }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  /* stack divs vertically */

}

.box-half {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.govuk-summary-list__nh_key, .govuk-summary-list__nh_value {
    padding: 10px 20px 10px 0;
    vertical-align: top;
}

  .govuk-summary-nh_list {
    display: table;
    width: 100%;
    table-layout: fixed;
  }


// trying to change the conditional reveal to work for this instance

.govuk-radios__nh_conditional {
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 35px;
}
@media (min-width: 40.0625em) {
  .govuk-radios__conditional {
    margin-bottom: 20px;
  }
}
.govuk-frontend-supported .govuk-radios__conditional--hidden {
  display: none;
}
.govuk-radios__conditional > :last-child {
  margin-bottom: 0;
}

.govuk-radios--small .govuk-radios__item {
  margin-bottom: 0;
}
.govuk-radios--small .govuk-radios__input {
  margin-left: -10px;
}
.govuk-radios--small .govuk-radios__label {
  padding-left: 1px;
}
.govuk-radios--small .govuk-radios__label::before {
  top: 10px;
  left: 0;
  width: 24px;
  height: 24px;
}
.govuk-radios--small .govuk-radios__label::after {
  top: 17px;
  left: 7px;
  border-width: 5px;
}
.govuk-radios--small .govuk-radios__hint {
  padding-left: 34px;
}
.govuk-radios--small .govuk-radios__conditional {
  margin-left: 10px;
  padding-left: 20px;
}
.govuk-radios--small .govuk-radios__divider {
  width: 24px;
  margin-bottom: 5px;
}
.govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:not(:disabled) + .govuk-radios__label::before {
  outline: 4px dashed transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 10px #b1b4b6;
}
.govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:focus + .govuk-radios__label::before {
  box-shadow: 0 0 0 4px #ffdd00 0 0 0 10px #b1b4b6;
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  .govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:focus + .govuk-radios__label::before {
    outline-color: Highlight;
  }
}
@media (hover: none), (pointer: coarse) {
  .govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:not(:disabled) + .govuk-radios__label::before {
    box-shadow: initial;
  }
  .govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:focus + .govuk-radios__label::before {
    box-shadow: 0 0 0 4px #ffdd00;
  }
}

.govuk-summary-list__row.no-bottom-border {  
  border-bottom: 0 !important;
}

.tuo-extra-letter-spacing {
  letter-spacing: .5px;
}

.autocomplete__option {
  font-family: $govuk-font-family;
}

.dwp-language-toggle {
  float: right;
}

.tuo-alert-content {
  line-height: 1.75;
}

.govuk-notification-banner-error {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 30px;
  border: 5px solid #d4351c;
  background-color: #d4351c;
}

.tuo-width-container {
  max-width: 1240px;
}

.tuo-header__content {
  max-width: 1240px;
}

.dwp-side-navigation__section {
  margin: 15px 0 5px;
  font-weight: bold;
}

/* Index page */
.govuk-iframe--container {
  box-sizing: border-box;
  max-width: 100%;
  border: 2px solid #b1b4b6;
  margin-bottom: 20px;
  margin-top: 12px;
  height: 260px;
  width: 400px;
  position: relative;
  overflow: visible;
  /* Transparent overlay to block clicks but allow scrolling */
}
.govuk-iframe--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.govuk-desktop-iframe--container {
  box-sizing: border-box;
  max-width: 100%;
  border: 2px solid #b1b4b6;
  margin-bottom: 20px;
  margin-top: 12px;
  height: 260px;
  width: 400px;
  position: relative;
  overflow: hidden;
  /* Transparent overlay to block clicks but allow scrolling */
}
.govuk-desktop-iframe--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.govuk-mobile-iframe--container {
  box-sizing: border-box;
  max-width: 100%;
  border: 2px solid #b1b4b6;
  margin-bottom: 20px;
  margin-top: 12px;
  height: 260px;
  width: 180px;
  position: relative;
  overflow: hidden;
  /* Transparent overlay to block clicks but allow scrolling */
}
.govuk-mobile-iframe--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.govuk-iframe {
  box-sizing: border-box;
  border: none;
  width: 250%; /* Adjust the width to fill the container while maintaining the scale */
  height: 250%; /* Adjust the height to fill the container while maintaining the scale */
  top: 0;
  left: 0;
  transform: scale(0.4);
  transform-origin: top left;
}

.autocomplete__wrapper:has(#autocomplete-relationship) {
  width: 50% !important;
}

.govuk-input.disabled {
  border: 2px solid #0b0c0c !important;
  background: #f3f2f1 !important;
}
