{% extends "layouts/main.html" %}

{% set pageName="You must have the information you need to use Tell Us Once" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--------- Authority error -------->
    {% if data.showAuthorityError %}
    <div aria-labelledby="error-summary-title" class="govuk-error-summary__title govuk-error-summary"
      data-module="govuk-error-summary" role="alert" data-gtm-vis-recent-on-screen60719051_1498="52"
      data-gtm-vis-first-on-screen60719051_1498="52" data-gtm-vis-total-visible-time60719051_1498="100"
      data-gtm-vis-has-fired60719051_1498="1">
      <h3 id="error-summary-title" class="govuk-heading-s">There is a problem</h3>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list" data-gtm-vis-recent-on-screen60719051_1063="50"
          data-gtm-vis-first-on-screen60719051_1063="50" data-gtm-vis-total-visible-time60719051_1063="100"
          data-gtm-vis-has-fired60719051_1063="1">
          <li><a href="#error1" class="skipToErrorInput">You do not have sufficient authority to continue.</a></li>
        </ul>
      </div>
    </div>
    {% endif %}

    <!--------- Main content -------->
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">To use Tell Us Once, you need the reference number that the registrar gave you, and information about the person who died. Check <a href="https://www.gov.uk/after-a-death/organisations-you-need-to-contact-and-tell-us-once">what information you need to use Tell Us Once</a>.</p>
    <p class="govuk-body">You will not be able to save your answers and come back later.</p>
    <p class="govuk-body">There is no time limit to complete Tell Us Once. But, if you're inactive for more than 20 minutes, we will delete your answers. We do this to protect your information.</p>

    <!--------- Routing -------->
    <form action="/{{ data.version }}/before-you-start" method="post">

      <!-- <h2 class="govuk-heading-m">Authority and consent</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-body">
            Are you the next of kin or the person dealing with the estate, and if not, do you have the authority to act on their behalf?
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="authority-consent" name="authority-consent" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="authority-consent">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="authority-consent-2" name="authority-consent" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="authority-consent-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div> -->

      <button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
        Continue
      </button>
    </form>

    <!---------Contact us for help-------->
    <!-- <details class="govuk-details govuk-!-padding-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language
            (BSL) (opens in new tab)</a></p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
      </div>
    </details> -->
    </div>
  </div>
</div>
{% endblock %}