{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you want an email confirmation?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want an email confirmation?
      </h1>
    </legend>
    <p class="govuk-body">The email will include a list of all the organisations and services you've notified.</p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="email-confirmation" name="email-confirmation" type="radio" value="yes" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="email-confirmation">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-email-address">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="informer-email-address" name="informer-email-address" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="email-confirmation-2" name="email-confirmation" type="radio" value="mo">
        <label class="govuk-label govuk-radios__label" for="email-confirmation-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
      

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}