{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Local council services</h1>
  <h2 class="govuk-heading-m">Which council was providing most services to the person who died?</h2>
    <div id="name-hint" class="govuk-hint">
      For example, council housing, library services, Blue Badge, or paying Council Tax.
    </div>  

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Select council
  </label>
    <div id="name-hint" class="govuk-hint">
      If they lived in an area with more than one council, you need to select the borough or district council from the list. We can then work out which council to notify too
    </div>      
  <input class="govuk-input govuk-input--width-30" id="event-name" name="eventName" type="text" value="Lewisham Borough of Lewisham Council">
</div>

<!---------If you want too tell more than one council-------->

<div>
<details class="govuk-details govuk-!-padding-bottom-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you want to tell more than one council
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">There may have been more than one council providing services to the person who died. For example, a home address where they paid Council Tax, but a care home where they received library services.</p>
<p class="govuk-body">Select the council that was providing most services as that is who we will notify. You will need to contact the other council yourself to tell them about the death</p>
</div>
</details>
  </div>
          
<!---------button-------->

      <div>
        {{ govukButton({
          text: "Continue",
          href: "who-do-you-want-to-notify"
        }) }}
      </div>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
    </div>
    </div>
{% endblock %}
