{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your relationship to {{ data['deceased-forename']}} {{ data['deceased-surname']}}? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error,
            href: "#informer-relationship"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/v1/informer-details/informer-relationship" method="post">

      <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="informer-relationship-error">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Personal details</span>
            <h1 class="govuk-fieldset__heading">
              What is your relationship to {{ data['deceased-forename']}} {{ data['deceased-surname']}}?
            </h1>
          </legend>

          {% if error %}
            <p id="informer-relationship-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error }}
            </p>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">

            <!-- Husband -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-husband"
                name="informer-relationship"
                type="radio"
                value="Husband"
                {% if data['informer-relationship']=="Husband" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-husband">Husband</label>
            </div>

            <!-- Wife -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-wife"
                name="informer-relationship"
                type="radio"
                value="Wife"
                {% if data['informer-relationship']=="Wife" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-wife">Wife</label>
            </div>

            <!-- Spouse -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-spouse"
                name="informer-relationship"
                type="radio"
                value="Spouse"
                {% if data['informer-relationship']=="Spouse" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-spouse">Spouse</label>
            </div>

            <!-- Civil partner -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-civil"
                name="informer-relationship"
                type="radio"
                value="Civil partner"
                {% if data['informer-relationship']=="Civil partner" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-civil">Civil partner</label>
            </div>

            <!-- Partner -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-partner"
                name="informer-relationship"
                type="radio"
                value="Partner"
                {% if data['informer-relationship']=="Partner" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-partner">Partner</label>
            </div>

            <!-- Father -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-father"
                name="informer-relationship"
                type="radio"
                value="Father"
                {% if data['informer-relationship']=="Father" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-father">Father</label>
            </div>

            <!-- Mother -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-mother"
                name="informer-relationship"
                type="radio"
                value="Mother"
                {% if data['informer-relationship']=="Mother" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-mother">Mother</label>
            </div>

            <!-- Son -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-son"
                name="informer-relationship"
                type="radio"
                value="Son"
                {% if data['informer-relationship']=="Son" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-son">Son</label>
            </div>

            <!-- Daughter -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-daughter"
                name="informer-relationship"
                type="radio"
                value="Daughter"
                {% if data['informer-relationship']=="Daughter" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-daughter">Daughter</label>
            </div>

            <!-- Brother -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-brother"
                name="informer-relationship"
                type="radio"
                value="Brother"
                {% if data['informer-relationship']=="Brother" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-brother">Brother</label>
            </div>

            <!-- Sister -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-sister"
                name="informer-relationship"
                type="radio"
                value="Sister"
                {% if data['informer-relationship']=="Sister" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-sister">Sister</label>
            </div>

            <!-- OTHER + CONDITIONAL INPUT -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="rel-other"
                name="informer-relationship"
                type="radio"
                value="other"
                data-aria-controls="conditional-other"
                {% if data['informer-relationship']=="other" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="rel-other">Other</label>
            </div>

            <div
              class="govuk-radios__conditional {% if data['informer-relationship'] != 'other' %}govuk-radios__conditional--hidden{% endif %}"
              id="conditional-other">
              <div class="govuk-form-group">
                <label class="govuk-label" for="informer-relationship-other-text">
                  Describe the relationship
                </label>
                <input
                  class="govuk-input"
                  id="informer-relationship-other-text"
                  name="informer-relationship-other-text"
                  type="text"
                  value="{{ data['informer-relationship-other-text'] }}">
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>

{% endblock %}