{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Check your answers</h1>

          <!---------Next of kin-------->

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About the next of kin
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> about the next of
                      kin</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Is there a next of kin?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Patsy
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Surname
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Salmon
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What is their relationship to the person who's died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Wife
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Can the next of kin be contacted?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <!---------About the person who's died-------->

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About the person who's died
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change about the person
                      who's died</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Miss Jo Test
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Marital status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Single
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do they have another address?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Their other address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    251 Elgin Avenue<br>
                    Belsize Park<br>
                    London<br>
                    W9 1NJ
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did they die in a hospital, hospice, nursing home or care home?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name of the hospital, hospice, nursing home or care home
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Shady Pines Nursing Home
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address of the hospital, hospice, nursing home or care home
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Shady Pines Nursing Home<br>
                    16 Pine Tree Road<br>
                    Belsize Park<br>
                    London<br>
                    W9 3HG
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Were they in a hospital, care home, nursing home or hospice for more than 28 days before they died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <!---------National Insurance number-------->

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Their National Insurance number
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change about the person
                      who's died</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you know the National Insurance number of the person who's died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['has-ni-number'] | capitalize}}
                  </dd>
                </div>
                {% if data['has-ni-number'] == "yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Their National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    JL123456A
                  </dd>
                </div>
                {% endif %}
              </dl>
            </div>
          </div>

          <!---------Local council services-------->

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Local council services
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change about the person
                      who's died</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which council was providing most services to the person who died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lewisham Borough of Lewisham Council
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <!--------- Who do you want to notify?-------->

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Who do you want to notify
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> change about the person
                      who's died</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Tax, benefits, entitlements including State Pension
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>Department of Work and Pensions (DWP) benefits and entitlements</li>
                      <li>HMRC Personal Tax</li>
                      <li>HMRC Benefits and Credits</li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Local council
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>Council Tax</li>
                      <li>Housing Benefit</li>
                      <li>Library Services</li>
                      <li>Electoral Services</li>
                      <li>Adult Social Services</li>
                      <li>Sundry debts / Miscellaneous Income</li>
                      <li>Blue Badge</li>
                      <li>Concessionary Travel</li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Passport and driving
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>Passport</li>
                      <li>Driving licence</li>
                      <li>Registered keeper of a motor vehicle</li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Armed Forces Pensions and Compensation Schemes
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>Armed Forces Pension Schemes</li>
                      <li>War Pensions Scheme</li>
                      <li>Armed Forces Compensation Scheme</li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

<!---------Public sector pension providers-------->
          {% if data['has-ni-number'] == "yes" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Public sector pension providers
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> public sector pension providers</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Public Sector Pension providers
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      {% for pension in data['pensions'] %}
                      <li>{{pension}}</li>
                      {% endfor %}
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          {% endif %}
          <!---------Registration details-------->

          <!-- <h2 class="govuk-heading-m">Registration of death details - This is the information printed on the death certificate.</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registration details
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Date of death
            </dt>
            <dd class="govuk-summary-list__value">
              01/12/2025
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date registered
            </dt>
            <dd class="govuk-summary-list__value">
              05/12/2025
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Place registered
            </dt>
            <dd class="govuk-summary-list__value">
              Lewisham
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there a next of kin?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>                               
        </dl>  -->



          <form class="form" action="/v0_1/pensions/check-your-answers-3" method="post" novalidate>
            <button class="govuk-button">Continue</button>
          </form>
        </div>
      </div>

      <!---------Contact us for help-------->

      <details class="govuk-details govuk-!-padding-top-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0800 085 7308</p>
          <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign
              Language (BSL) (opens in new tab)</a></p>
          <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
          <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
        </div>
      </details>
  </div>
</div>
</main>
</div>
{% endblock %}