{% extends "layouts/prototype.html" %}
{% set active = "check-your-answers" %}

{% block pageTitle %}
Page index - Check your answers
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index.html">Page index</a>
        </li>
      </ol>
    </nav>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Enrichment</span>
      Check your answers
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s"><a
            href="/v0_1/enrichment/check-answers">Check your answers</a></h3>
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe"
            src="../v0_1/enrichment/check-answers"
            aria-hidden="true" tabindex="-1"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}