{% extends "layouts/prototype.html" %}
{% set active = "enter-death-registration-details" %}

{% block pageTitle %}
{{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index.html">Page index</a>
        </li>
      </ol>
    </nav>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Enrichment</span>
      Enter death registration details
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe"
            src="../v0_1/enrichment/enter-death-registration-details/enter-death-registration-details"
            aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <h3 class="govuk-heading-s"><a
            href="/v0_1/enrichment/enter-death-registration-details/enter-death-registration-details">Enter death
            registration details</a></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe"
            src="../v0_1/enrichment/enter-death-registration-details/we-could-not-match-the-death-registration-details"
            aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <h3 class="govuk-heading-s"><a
            href="/v0_1/enrichment/enter-death-registration-details/we-could-not-match-the-death-registration-details">We could not match the death registration details</a></h3>
        <p class="govuk-body">Users see this page when they have entered the incorrect details 3 times.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe"
            src="../v0_1/enrichment/enter-death-registration-details/this-page-has-expired"
            aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <h3 class="govuk-heading-s"><a
            href="/v0_1/enrichment/enter-death-registration-details/this-page-has-expired">Sorry, this page has expired</a></h3>
        <p class="govuk-body">Users see this page when the session times out on the Enter death registration details page.</p>
      </div>
    </div>
  </div>

</div>

{% endblock %}