{% extends "layouts/prototype.html" %}
{% set active = "" %}

{% block pageTitle %}
  {{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">  
      {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
  </ol>
</nav>
    <h1 class="govuk-heading-xl">
        Page index
      </h1>
        <p class="govuk-body">Find pages in the Tell Us Once prototype.</p>
        <p class="govuk-body">Pages are grouped by the part of Tell Us Once they relate to.</p>
        <p class="govuk-body">Page links open in a new tab.</p>
  </div>

</div>

{% endblock %}
