{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Tell Us Once reference number
    </h1>
    <p class="govuk-body govuk-!-margin-top-4">This is the reference number they need to notify organisations using Tell
      Us Once. They will receive an email with this reference number and information about how to use Tell Us Once.</p>
    <form class="form" action="check-your-answers" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="email-address-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__legend--m">Do they email confirming their Tell Us Once reference number?</h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-by-email" name="contact-by-email" type="radio" value="yes"
                data-aria-controls="conditional-email-address">
              <label class="govuk-label govuk-radios__label" for="contact-by-email">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email-address">
              <div class="govuk-form-group">
                <label class="govuk-label" for="email-address">
                  Enter the email address they want the email confirmation to go to
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="email"
                  spellcheck="false" autocomplete="email">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-by-email-2" name="contact-by-email" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="contact-by-email-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>


  </div>
</div>
{% endblock %}