{% extends "layouts/main.html" %}

{% set pageName="About you" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l govuk-!-padding-top-6 govuk-!-padding-bottom-6">About you</h1>

<!---------Your details-------->

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-bottom-6">
    <h1 class="govuk-fieldset__heading">
      Your details
    </h1>
  </legend>
  <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Title
  </label>
    <div id="name-hint" class="govuk-hint">
      Please select an option from the list. If the required option is not available please select 'Other' and enter manually.
    </div>  
  <select class="govuk-select" id="sort" name="sort">
    <option value="updated" selected>Please select</option>
    <option value="published">Mr</option>
    <option value="views">Mrs</option>
    <option value="comments">Miss</option>
    <option value="comments">Ms</option>
    <option value="comments">Rev</option>
    <option value="comments">Dr</option>
    <option value="comments">Other</option>    
  </select>
</div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      First name
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      Surname
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-county" name="addressCounty" type="text">
  </div>
</fieldset>

<!---------Relationship-------->

  <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    What is your relationship to the person who died?
  </label>
    <div id="name-hint" class="govuk-hint">
      If the relationship is not shown please select 'Other'
    </div>  
  <select class="govuk-select" id="sort" name="sort">
    <option value="updated" selected></option>
    <option value="published">Husband</option>
    <option value="views">Wife</option>
    <option value="comments">Spouse</option>
    <option value="comments">Civil Partner</option>
    <option value="comments">Partner</option>
    <option value="comments">Father</option>
    <option value="comments">Mother</option>
    <option value="comments">Son</option>
    <option value="comments">Daughter</option>
    <option value="comments">Brother</option>
    <option value="comments">Sister</option>
    <option value="comments">Other</option>
    <option value="comments">Aunt</option>
    <option value="comments">Boyfriend</option>
    <option value="comments">Brother-in-law</option>
    <option value="comments">Daughter-in-law</option>
    <option value="comments">Executor</option>
    <option value="comments">Ex-husband</option>
    <option value="comments">Ex-partner</option>
    <option value="comments">Ex-wife</option>
    <option value="comments">Father-in-law</option>
    <option value="comments">Friend</option>
    <option value="comments">Girlfriend</option>
    <option value="comments">Granddaughter</option>
    <option value="comments">Grandfather</option>
    <option value="comments">Grandmother</option>
    <option value="comments">Grandson</option>
    <option value="comments">Mother-in-law</option>
    <option value="comments">Nephew</option>
    <option value="comments">Niece</option>
    <option value="comments">Sister-in-law</option>
    <option value="comments">Son-in-law</option>
    <option value="comments">Stepbrother</option>
    <option value="comments">Stepdaughter</option>
    <option value="comments">Stepfather</option>
    <option value="comments">Stepmother</option>
    <option value="comments">Stepsister</option>
    <option value="comments">Stepson</option>
    <option value="comments">Uncle</option>
  </select>
</div>

<!---------Conditional radios-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-body">Do you live at the same address as the person who's died?</label>  
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="passport" name="passport" type="radio" value="passportDetails" data-aria-controls="conditional-passport">
        <label class="govuk-label govuk-radios__label" for="passport">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="passport-2" name="passport" type="radio" value="phone" data-aria-controls="conditional-passport-2">
        <label class="govuk-label govuk-radios__label" for="passport-2">
          No
        </label>
      </div>
    </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-passport">


<!---------Same address Yes routing-------->

<!---------Table-------->

<div class="govuk-grid-row govuk-!-padding-top-6">
  <div class="govuk-grid-column-one-half">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Address of the person who's died</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">House number or name</th>
      <td class="govuk-table__nh_cell">13</td>
    </tr>    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Road</th>
      <td class="govuk-table__nh_cell">Holly Road</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Town/City</th>
      <td class="govuk-table__cnh_ell">Hereford</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">County</th>
      <td class="govuk-table__nh_cell">Herefordshire</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Postcode</th>
      <td class="govuk-table__nh_cell">HR1 1GL</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Country</th>
      <td class="govuk-table__nh_cell">England</td>
    </tr>        
  </tbody>
</table> 
</div>
</div>


<!---------contact----------->

  <div class="govuk-form-group govuk-!-padding-top-6">
    <label class="govuk-label" for="contact-number">
      Contact telephone number (optional)
    </label>
    <input class="govuk-input govuk-input--width-20" id="contact-number" name="contactNumber" type="numeric">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="contact-email">
      Contact email address (optional)
    </label>
    <input class="govuk-input govuk-input--width-20" id="contact-email" name="contactEmail" type="text">
  </div>  


<!---------radios----------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        Will you be dealing with the estate of the person who's died?  
      </legend>    
    <div id="name-hint" class="govuk-hint">
      The estate is their money, property and belongings.
    </div>       
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>  

<div class="govuk-form-group govuk-!-padding-top-4">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        Are you the next of kin?
    </legend> 
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div> 
</div>

<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-passport-2">


<!---------Same address No routing-------->

<div class="govuk-grid-row govuk-!-padding-top-6">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h2 class="govuk-fieldset__heading">
      Your contact details
    </h2>
  </legend>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    House number or name
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>

<!---------Postcode look up-------->

<div class="flex-container">
        <div class="box-half">
          <div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Postcode
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>  
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    
  </label>
  <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-7 govuk-!-margin-top-5" data-module="govuk-button">
    Find address
  </button>
  </div>
<div class="govuk-form-group govuk-!-margin-left-7 govuk-!-margin-top-5">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-checkboxes__label" for="contact-3">
          Enter address manually 
        </label>
      </div>
    </div>
  </fieldset>
</div>  
</div>
</div>

<!---------Address manual and contact details-------->

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h3 class="govuk-fieldset__heading">
      No addresses found!
    </h3>
  </legend>

<div class="govuk-form-group">
  <label class="govuk-label" for="address-line-1">
    Road
  </label>
  <input class="govuk-input govuk-input--width-20" id="ddress-line-1" name="addressLine1" type="text">
</div>  
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      Town/City
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County (optional)
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-county" name="addressCounty" type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-country">
      Country 
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-country" name="addressCountry" type="text">
  </div>
<!---------contact----------->

  <div class="govuk-form-group govuk-!-padding-top-6">
    <label class="govuk-label" for="contact-number">
      Contact telephone number (optional)
    </label>
    <input class="govuk-input govuk-input--width-20" id="contact-number" name="contactNumber" type="numeric">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="contact-email">
      Contact email address (optional)
    </label>
    <input class="govuk-input govuk-input--width-20" id="contact-email" name="contactEmail" type="text">
  </div>  

<!---------radios----------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        Will you be dealing with the estate of the person who's died?  
      </legend>    
    <div id="name-hint" class="govuk-hint">
      The estate is their money, property and belongings.
    </div>       
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>  

<div class="govuk-form-group govuk-!-padding-top-4">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        Are you the next of kin?
    </legend> 
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div> 
</div>  
</div>  

<br>

<!---------button----------->

    {{ govukButton({
      text: "Continue",
      href: 'about-the-next-of-kin'
    }) }}

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
