{% extends "layouts/main.html" %}

{% set pageName="About the Next of Kin" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">About the Next of Kin</h1>

<!---------Can next of kin be contacted – Yes routing-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Is there a next of kin?</label>  
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">

<!---------Their details routing-------->

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      Their details
    </h1>
  </legend>
  <p class="govuk-body">Please enter the details of the person dealing with their estate</p>
  <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Title
  </label>
    <div id="name-hint" class="govuk-hint">
      Please select an option from the list. If the required option is not available please select 'Other' and enter manually
    </div>  
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Recently published</option>
    <option value="updated" selected>Please select</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      First name
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      Surname
    </label>
    <input class="govuk-input govuk-input--width-20" id="address-county" name="addressCounty" type="text">
  </div>

<!---------Relationship-------->

  <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    What is their relationship to the person who's died?
  </label>
    <div id="name-hint" class="govuk-hint">
      If the relationship is not shown please select 'Other'
    </div>  
  <select class="govuk-select" id="sort" name="sort">
    <option value="updated" selected></option>
    <option value="published">Husband</option>
    <option value="views">Wife</option>
    <option value="comments">Spouse</option>
    <option value="comments">Civil Partner</option>
    <option value="comments">Partner</option>
    <option value="comments">Father</option>
    <option value="comments">Mother</option>
    <option value="comments">Son</option>
    <option value="comments">Daughter</option>
    <option value="comments">Brother</option>
    <option value="comments">Sister</option>
    <option value="comments">Other</option>
    <option value="comments">Aunt</option>
    <option value="comments">Boyfriend</option>
    <option value="comments">Brother-in-law</option>
    <option value="comments">Daughter-in-law</option>
    <option value="comments">Executor</option>
    <option value="comments">Ex-husband</option>
    <option value="comments">Ex-partner</option>
    <option value="comments">Ex-wife</option>
    <option value="comments">Father-in-law</option>
    <option value="comments">Friend</option>
    <option value="comments">Girlfriend</option>
    <option value="comments">Granddaughter</option>
    <option value="comments">Grandfather</option>
    <option value="comments">Grandmother</option>
    <option value="comments">Grandson</option>
    <option value="comments">Mother-in-law</option>
    <option value="comments">Nephew</option>
    <option value="comments">Niece</option>
    <option value="comments">Sister-in-law</option>
    <option value="comments">Son-in-law</option>
    <option value="comments">Stepbrother</option>
    <option value="comments">Stepdaughter</option>
    <option value="comments">Stepfather</option>
    <option value="comments">Stepmother</option>
    <option value="comments">Stepsister</option>
    <option value="comments">Stepson</option>
    <option value="comments">Uncle</option>
  </select>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Can the next of kin be contacted?</label>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
</div>
</div>

<!---------button-------->

<a href="about-the-person-whos-died" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
    <p class="govuk-body">0800 085 7308</p>
    <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
    <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
    <h3 class="govuk-heading-s">Email</h3>
    <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
