{% extends "layouts/main.html" %}

{% set pageName="Error - Before you start" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<!---------Error-------->

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h3 class="govuk-error-summary__body">
      There is a problem
    </h3>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">You do not have sufficient authority to continue.</a>
        </li>
      </ul>
    </div>
  </div>
</div>    

<!---------main content-------->

    <h1 class="govuk-heading-l">Before you start</h1>
    <h2 class="govuk-heading-m">Check you have everything you need</h2>
<p class="govuk-body">You will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your Tell Us Once reference number</li>
  <li>the name and date of death of the person who’s died</li>
  <li>the name and address of the hospital, care home or hospice if they died there</li>
  <li>National Insurance number or date of birth of the surviving spouse</li>
  <li>details of the next of kin</li>
  <li>details of the person or company dealing with the estate (property, belongings and money)</li>
</ul>
<p class="govuk-body">It also helps if you can provide the National Insurance number of the person who’s died. It makes it easier and quicker for organisations to match them on their records.</p>

    <h2 class="govuk-heading-m">Depending on who you want to notify, you may need:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>their passport number and town of birth (to cancel a British passport)</li>
  <li>their driving licence number (to cancel a licence)</li>
  <li>vehicle registration numbers of any vehicles they owned to remove them as the registered keeper and cancel the vehicle tax (the vehicle will need to be taxed again straight away before it’s used)</li>
  <li>the name of their local council and which services they were getting, such as Housing Benefit or Council Tax reduction</li>
  <li>their Blue Badge number (optional) to cancel a Blue Badge</li>
  <li>to know if they were getting benefits, tax credits or State Pension so we can notify the right department</li>  
</ul>
    <p class="govuk-body">You will need to provide the National Insurance number of the person who’s died, if they were getting money or paying into the following schemes:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>NHS Pensions for NHS staff in England and Wales</li>
  <li>Scottish Public Pensions Agency for Teachers and/or NHS</li>
  <li>Scottish Public Pensions Agency Police and/or Firefighters</li>
  <li>Pension Protection Fund and/or Financial Assistance Scheme</li>
  <li>Local Government Pension Schemes (LGPS)</li>
</ul>

    <h2 class="govuk-heading-m">If you need to stop at any point</h2>
    <p class="govuk-body">You cannot save your answers and come back later. You need to complete the service in one go, so make sure you have all the information you need in front of you.</p>
    <p class="govuk-body">There is no time limit to complete Tell Us Once. But if you leave the screen for more than 20 minutes, we will delete your answers to protect your information.</p>

<!---------Routing-------->

<form action="options" method="post" novalidate>    
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Authority and consent",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Are you the next of kin or the person dealing with the estate, and if not, do you have the authority to act on their behalf?"
  },
  errorMessage: {
    text: "You do not have sufficient authority to continue."
  },
  items: [
    {
      value: "yes~find-death-registration-details",
      text: "Yes"
    },
    {
      value: "no~before-you-start-error",
      text: "No"
    }
  ]
}) }}  

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  isStartButton: true
}) }}
</form>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
