{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Check your answers</h1>
    <p class="govuk-body">Please check that the information on this page is correct. It will be used to inform relevant councils, government departments and organisations.</p>
        <h2 class="govuk-heading-m">Person or company dealing with the estate</h2>

<!---------Executor details-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Executor details
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company Name
            </dt>
            <dd class="govuk-summary-list__value">
              Arnold and Partners
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>

<!---------Address-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              House number or name
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Road
            </dt>
            <dd class="govuk-summary-list__value">
              Windsor Avenue
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town/City
            </dt>
            <dd class="govuk-summary-list__value">
              MANCHESTER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              M45 6BU
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value">
              United Kingdom
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">          
            </dt>
            <dd class="govuk-summary-list__value">
              <br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div> 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact tel. no.
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div> 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact email address 
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>                                                 
        </dl>

<!---------button-------->

<a href="before-we-send" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>          
        </form>
      </div>
    </div>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>  
</main>
</div>
{% endblock %}
