{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Details of the person who's died</h1>
    <p class="govuk-body">Please check that the information on this page is correct. It will be used to inform relevant councils, government departments and organisations.</p>
        <h2 class="govuk-heading-m">About you</h2>

<!---------Personal details-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Personal details
            </dt>
            <dd class="govuk-summary-list__value">           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Miss Jo Test
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Marital status
            </dt>
            <dd class="govuk-summary-list__value">
              Single
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              national Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              JL123456A
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>                    
        </dl>

<!---------Previous address-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous Address
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              House number or name
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Road
            </dt>
            <dd class="govuk-summary-list__value">
              Windsor Avenue
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town/City
            </dt>
            <dd class="govuk-summary-list__value">
              Manchester
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              M45 6BU
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value">
              United Kingdom
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>                                               
        </dl>
  
<!---------Registration details-------->

        <h2 class="govuk-heading-m">Registration of death details - This is the information printed on the death certificate.</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registration details
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Date of death
            </dt>
            <dd class="govuk-summary-list__value">
              01/12/2025
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date registered
            </dt>
            <dd class="govuk-summary-list__value">
              05/12/2025
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Place registered
            </dt>
            <dd class="govuk-summary-list__value">
              Lewisham
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there a next of kin?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>                               
        </dl> 


<!---------Council details-------->

        <h2 class="govuk-heading-m">Council details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Council the person who's died lived in
            </dt>
            <dd class="govuk-summary-list__value">
              London Borough of Lewisham Council
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>                              
        </dl> 

<!---------Who do you want to notify-------->

        <h2 class="govuk-heading-m">Who do you want to notify</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tax, benefits, entitlements including State Pension
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Department for Work and Pensions Bereavement Service
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HMRC Personal Taxation
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HMRC Benefits and Credits
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>                             
        </dl>         

<!---------Local council-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local Council
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Council Tax
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Library Services
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Electoral Services
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>   
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Blue Badge
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Concessionary Travel
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>                                                
        </dl>  

<!---------Passport and Driving-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Passport and Driving
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Passport Holder
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Driving Licence Holder
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered Keeper of a Motoer Vehicle
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>                                                  
        </dl>   

<!---------Armed Forces Pensions and Compensation Schemes-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Armed Forces Pensions and Compensation Schemes
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Armed Forces Pensions Schemes
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              War Pensions Scheme
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Armed Forces Compensation Scheme
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>                                                  
        </dl>    

<!---------Public Sector Pensions-------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Public Sector Pensions
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Civil Service Pension Scheme
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>                                                  
        </dl>                                
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">


<!---------Hospitalisation or Care-------->

        <h2 class="govuk-heading-m">Periods of Hospitalisation or Care</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospitalisation or Care
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Did they die in a hospital, hospice, care home or nursing home?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Name of the hospital, hospice, care/nursing home
            </dt>
            <dd class="govuk-summary-list__value">
              4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div> 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Address of the hospital, hospice, care/nursing home
            </dt>
            <dd class="govuk-summary-list__value">
              Road<br>Town/City<br>County<br>Postcode<br>Country
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Were they in a hospital, hospice, care home, nursing home or hospice for more than 28 days before they died?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>                                                                                  
        </dl>   

<!---------button-------->

<a href="check-your-answers-3" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>          
        </form>
      </div>
    </div>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>  
</main>
</div>
{% endblock %}
