{% extends "layouts/main.html" %} {% from "govuk/components/button/macro.njk"
import govukButton %} {% set pageName="Find death registration details" %} {%
block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Find death registration details</h1>
    <div class="govuk-inset-text">
      If you need to go back to an earlier page, you will need to use the back
      links at the top of each page in this service. The back button in your web
      browser will not work.
    </div>

    <!---------Ref number-------->

    <div class="govuk-form-group">
      <label class="govuk-body-l" for="reference">
        Your Tell Us Once reference number
      </label>
      <div id="reference-hint" class="govuk-hint">
        The registrar gave you this when the death was registered. <br />It is
        12 digits and a mix of numbers and letters. For example, AB 123 C 456 DE
        7
      </div>
      <input
        class="govuk-input govuk-input--width-20"
        id="reference"
        name="reference"
        type="reference"
        spellcheck="false"
        aria-describedby="reference-hint"
        autocomplete="reference"
      />
    </div>

<!---------Surname-------->

    <div class="govuk-form-group">
      <label class="govuk-body-l govuk-!-padding-bottom-5" for="reference">
        Surname of the person who's died<br />
      </label>
      <input
        class="govuk-input govuk-input--width-20"
        id="reference"
        name="reference"
        type="reference"
        spellcheck="false"
        aria-describedby="reference-hint"
        autocomplete="reference"
      />
    </div>
    <div class="govuk-form-group">
      <fieldset
        class="govuk-fieldset govuk-!-padding-bottom-8"
        role="group"
        aria-describedby="passport-issued-hint">
        
<!---------Date died-------->

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <label class="govuk-body-l"> What date did they die? </label>
        </legend>
        <div id="passport-issued-hint" class="govuk-hint">
          For example, 21 8 2024
        </div>
        <div class="govuk-date-input" id="date-death">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label
                class="govuk-label govuk-date-input__label"
                for="date-of-death"
              >
                Day:
              </label>
              <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="date-of-death"
                name="date-of-death"
                type="text"
                inputmode="numeric"
              />
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-month"
              >
                Month:
              </label>
              <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="passport-issued-month"
                name="passport-issued-month"
                type="text"
                inputmode="numeric"
              />
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-year"
              >
                Year:
              </label>
              <input
                class="govuk-input govuk-date-input__input govuk-input--width-4"
                id="passport-issued-year"
                name="passport-issued-year"
                type="text"
                inputmode="numeric"
              />
            </div>
          </div>
        </div>
      </fieldset>
    </div>

<!---------Button-------->

    {{ govukButton({ text: "Find details", href: "registration-details-found" })
    }}

<!---------Contact us for help-------->

    <details class="govuk-details govuk-!-padding-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> Contact us for help </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">
          Relay UK: 18001 0800 085 7308<br /><a href="#"
            >Video Relay Service for British Sign Language (BSL) (opens in new
            tab)</a
          >
        </p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body">
          Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a>
        </p>
      </div>
    </details>
  </div>
</div>
{% endblock %}
