{% extends "layouts/main.html" %}

{% set pageName="Public sector pensions you want to notify" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Public sector pensions you want to notify</h1>
  <p class="govuk-body">If the Public Sector Pension(s) you want to notify do not appear in the list below, you will need to contact them separately.</p>
<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <p class="govuk-body">Civil Service Pension Scheme</p>
    <div id="name-hint" class="govuk-hint">
      If they received or paid into a Civil Service Pension.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

  <br>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none">
        <label class="govuk-label govuk-checkboxes__label" for="countries-5">
          None of the above
        </label>
      </div>  
      <br>
      <br>

<h2 class="govuk-heading-m">Local Government Pension Funds</h2>
<br>
<p class="govuk-body">No results found</p>
<br>
<br>

<!---------button-------->

<a href="about-the-spouse" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
