{% extends "layouts/main.html" %}

{% set pageName="Registration details found" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Registration details found</h1>

<!---------Table 1-------->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Name</th>
      <td class="govuk-table__nh_cell">Jean Genie</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Date of birth</th>
      <td class="govuk-table__nh_cell">02/11/1938</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Registration district</th>
      <td class="govuk-table__nh_cell">Lewisham</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Date of death</th>
      <td class="govuk-table__nh_cell">10/12/2025</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Date of registration</th>
      <td class="govuk-table__nh_cell">13/12/2025</td>
    </tr>        
  </tbody>
</table> 

<!---------Table 2-------->

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Address</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">House number or name</th>
      <td class="govuk-table__nh_cell">13</td>
    </tr>    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Road</th>
      <td class="govuk-table__nh_cell">Holly Road</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Town/City</th>
      <td class="govuk-table__cnh_ell">Hereford</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">County</th>
      <td class="govuk-table__nh_cell">Herefordshire</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Postcode</th>
      <td class="govuk-table__nh_cell">HR1 1GL</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__nh_header">Country</th>
      <td class="govuk-table__nh_cell">England</td>
    </tr>        
  </tbody>
</table> 
</div>
</div>

<!---------button-------->

    {{ govukButton({
      text: "Continue",
      href: 'about-you'
    }) }}

<!---------If any of these details are wrong-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If any of these details are wrong
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">You cannot continue using Tell Us Once if any of the registration details are wrong.</p>
    <h3 class="govuk-heading-s">What you need to do next</h3>
<p class="govuk-body">Contact the register office where the death was registered. Explain that the death registration details are wrong on Tell Us Once.</p>
<p class="govuk-body">The registrar will be able to correct the details and give you a new Tell Us Once reference number to use.</p>
  </div>
</details>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
