{% extends "layouts/main.html" %}

{% set pageName="Who do you want to notify?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">Who do you want to notify?</h1>
  <p class="govuk-body">By selecting 'yes', you give permission for us to tell that department about the death.</p>
  <p class="govuk-body">You can save or print a list of the organisations you have notified at the end.</p>
<h2 class="govuk-heading-m">Tax, benefits, entitlements including State Pension</h2>

<!---------DWP-------->

<div class="govuk-form-group govuk-!-padding-top-2">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Department of Work and Pensions (DWP) benefits and entitlements</label>
    <div id="name-hint" class="govuk-hint">
      If they received State Pension or other DWP benefits such as Attendance Allowance.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Details-------->

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is a DWP benefit or entitlement?
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">If you're not sure if they receive a DWP benefit, select yes. DWP can then check and update their records.</p>
<h3 class="govuk-heading-s">The most common DWP benefits and entitlements include:</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Attendance Allowance (AA)</li>
  <li>Disability Living Allowance (DLA)</li>
  <li>Emplyoment Support Allowance (ESA)</li>
  <li>Income Support</li>
  <li>Jobseeker's Allowance</li>
  <li>Pension Credit</li>
  <li>Personal Independence Payment (PIP)</li>
  <li>State Pension</li>
  <li>Universal Credit</li>
  <li>Winter Fuel Payment</li>
</ul>
<h3 class="govuk-heading-s">Other DWP benefits and entitlements include:</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Bereavement Support Payment (BSP)</li>
  <li>Incapacity Benefit</li>
  <li>Industrial Injuries Disablement Benefit</li>
  <li>Maternity Allowance</li>
  <li>Widowed Parent's Allowance (WPA)</li>
</ul>
</div>
</details>

<!---------HMRC Personal Tax-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">HMRC Personal Tax</label>
    <div id="name-hint" class="govuk-hint">
      For personal and individual tax records such as Pensions, Pay As You Earn (PAYE), Self Assessment or Self Employment.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------HMRC benefits and credits-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">HMRC Benefits and Credits</label>
    <div id="name-hint" class="govuk-hint">
      If they received any HMRC benefits and/or credits when they died.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is an HMRC benefit or credit?
    </span>
  </summary>
  <div class="govuk-details__text">
<ul class="govuk-list govuk-list--bullet">
  <li>Child Benefit</li>
  <li>Child Tax Credit</li>
  <li>Working Tax Credit</li>
  <li>Tax-Free Childcare</li>
  <li>Help to Save</li>
</ul></div>
</details>

<!---------Local Council-------->

<h2 class="govuk-heading-m govuk-!-padding-top-6">Local Council</h2>

<!---------Council Tax-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Council Tax</label>  
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            How many people over age of 18 now reside in the property?
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>    
  </fieldset>
</div>

<!---------Housing Benefit-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Housing Benefit</label>     
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Library Services-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Library Services</label>    
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Electoral Services-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Electoral Services</label>
    <div id="name-hint" class="govuk-hint">
      If they were registered to vote.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Adult Social Services-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Adult Social Services</label>
    <div id="name-hint" class="govuk-hint">
      For example, any financial assistance provided to support someone remaining in their own home or in public or private care home, meals on wheels, help at home and special equipment for home adaptations.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Sundry Debts-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Sundry debts / Miscellaneous Income</label>
    <div id="name-hint" class="govuk-hint">
      For example, any money owed from things like hiring facilities, planning fees or Housing Benefit overpayments.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Blue Badge-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Blue Badge</label>  
    <div id="name-hint" class="govuk-hint">
      To cancel a Blue Badge. Contact the council to ask what to do with the badge.
    </div>       
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bluebadge" name="bluebadge" type="radio" value="bbnumber" data-aria-controls="conditional-bluebadge">
        <label class="govuk-label govuk-radios__label" for="bluebadge">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bluebadge-2" name="bluebadge" type="radio" value="phone" data-aria-controls="conditional-bluebadge-2">
        <label class="govuk-label govuk-radios__label" for="bluebadge-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-bluebadge-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-bluebadge">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Blue Badge reference number. For example: 232C48. (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>    
  </fieldset>
</div>

<!---------Concessionary Travel-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Concessionary Travel</label>
    <div id="name-hint" class="govuk-hint">
      For discounted or free travel. For example, a bus or rail pass.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Passport and driving-------->

<h2 class="govuk-heading-m govuk-!-padding-top-6">Passport and driving</h2>

<!---------Passport-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Passport</label>  
    <div id="name-hint" class="govuk-hint">
      Provide a valid British passport number. You can enter an expired passport number if there is no current passport and it was issued after 1989. You don't need to return their passport, cut off the top right-hand corner so it cannot be used fraudulently.
    </div>       
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="passport" name="passport" type="radio" value="passportDetails" data-aria-controls="conditional-passport">
        <label class="govuk-label govuk-radios__label" for="passport">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="passport-2" name="passport" type="radio" value="phone" data-aria-controls="conditional-passport-2">
        <label class="govuk-label govuk-radios__label" for="passport-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-passport-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-passport">
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Town of birth
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Passport number. This contains 9 digits and no letters, for example 123456789.
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Second passport. If the person who died had a second passport, enter the number here. (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>                
      </div>    
  </fieldset>
</div>

<!---------Driving licence-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Driving licence</label>  
    <div id="name-hint" class="govuk-hint">
      You will need the driving licence number of the person who's died. You can enter an expired licence number. You do not need to return their driving licence, but you should cut off the top right-hand corner so it cannot be used fraudulently.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="drivinglicence" name="drivinglicence" type="radio" value="bbnumber" data-aria-controls="conditional-drivinglicence">
        <label class="govuk-label govuk-radios__label" for="drivinglicence">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="drivinglicence-2" name="drivinglicence" type="radio" value="phone" data-aria-controls="conditional-drivinglicence-2">
        <label class="govuk-label govuk-radios__label" for="drivinglicence-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-drivinglicence-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-drivinglicence">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Driving licence number. For example. MORGA753116SM9IJ.
          </label>
          <input class="govuk-input govuk-input--width-10" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>    
  </fieldset>
</div>

<!---------Registered keeper of a motor vehicle-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Registered keeper of a motor vehicle</label>  
    <div id="name-hint" class="govuk-hint">
      When DVLA is notified of the death, the vehicle tax will no longer be valid. If the vehicle is going to be driven, or is parked on a public road, it will need to be re-taxed. If there are more than five vehicles you will need to contact DVLA directly.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dvla" name="dvla" type="radio" value="dvlaDetails" data-aria-controls="conditional-dvla">
        <label class="govuk-label govuk-radios__label" for="dvla">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dvla-2" name="dvla" type="radio" value="phone" data-aria-controls="conditional-dvla-2">
        <label class="govuk-label govuk-radios__label" for="dvla-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dvla-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dvla">
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Vehicle registration number 1
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Vehicle registration number 2 (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Vehicle registration number 3 (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div> 
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Vehicle registration number 4 (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>    
        <div class="govuk-form-group">
          <label class="govuk-label" for="town-of-birth">
            Vehicle registration number 5 (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="townOfBirth" type="email" spellcheck="false" autocomplete="email">
        </div>                                   
      </div>    
  </fieldset>
</div>

<!---------Armed Forces Pensions and Compensation Schemes-------->

<h2 class="govuk-heading-m govuk-!-padding-top-6">Armed Forces Pensions and Compensation Schemes</h2>

<!---------Armed Forces Pension Schemes-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Armed Forces Pension Schemes</label>
    <div id="name-hint" class="govuk-hint">
      If they had an Armed Forces Pension Scheme (AFPS 75, AFPS 05, AFPS 15) or a Reserve Forces Pension Scheme in payment when they died.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------War Pensions Scheme-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">War Pensions Scheme</label>
    <div id="name-hint" class="govuk-hint">
      If they had a War Pension Scheme award in payment when they died. Payable for injury or illness occuring before 6th April 2025.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Armed Forces Compensation Scheme-------->

<div class="govuk-form-group govuk-!-padding-top-6">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Armed Forces Compensation Scheme</label>
    <div id="name-hint" class="govuk-hint">
      If they had an Armed Forces Compensation Scheme award in payment when they died. Payable for injury or illness occuring on or after 6th April 2025.
    </div>      
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Public Sector Pensions-------->

<h2 class="govuk-heading-m govuk-!-padding-top-6">Public Sector Pensions</h2>

<!---------Public Sector Pensions-------->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <label class="govuk-label">Public Sector Pensions</label>   
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!---------Details-------->

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Check which public sector pensions we can tell
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">We can only notify these public pensions:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>NHS Pensions for NHS staff in England and Wales</li>
  <li>Civil Service Pensions</li>
  <li>Scottish Public Pensions Agency (SPAA) for teachers and/or NHS</li>
  <li>Scottish Public Pensions Agency (SPAA) for police and/or firefighters</li>
  <li>Pension Protection Fund and/or Financial Assistance Scheme</li>
  <li>Local Government Pension Funds (LGPF)</li>
</ul>
<p class="govuk-body">If they had any other public sector pensions, you will need to notify them yourself.</p>
</div>
</details>

<!---------button-------->

<a href="public-sector-pensions-you-want-to-notify" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>
{% endblock %}
