{% extends "layouts/main.html" %}

{% set pageName="About you" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l govuk-!-padding-top-6 govuk-!-padding-bottom-6">About you</h1>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      Your details
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="informer-title">
      Title
    </label>
    <div class="govuk-hint">
      Please select an option from the list. If not available select 'Other'.
    </div>
    <select class="govuk-select" id="informer-title" name="informer-title">
      <option value="">Please select</option>
      <option value="Mr">Mr</option>
      <option value="Mrs">Mrs</option>
      <option value="Miss">Miss</option>
      <option value="Ms">Ms</option>
      <option value="Rev">Rev</option>
      <option value="Dr">Dr</option>
      <option value="Other">Other</option>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="informer-first-name">
      First name
    </label>
    <input class="govuk-input govuk-input--width-20" id="informer-first-name" name="informer-first-name" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="informer-last-name">
      Surname
    </label>
    <input class="govuk-input govuk-input--width-20" id="informer-last-name" name="informer-last-name" type="text">
  </div>
</fieldset>

<div class="govuk-form-group govuk-!-margin-top-4">
  <label class="govuk-label govuk-label" for="informer-relationship">
    What is your relationship to the person who died?
  </label>

  <div class="govuk-hint">
    Please select an option from the list. If the relationship is not shown please select 'Other'
  </div>

<div id="autocomplete-relationship-container" class="tuo-scope"></div>


<select
  class="govuk-select govuk-visually-hidden"
  id="autocomplete-relationship"
  name="informer-relationship">

    <option value=""></option>
    <option>Husband</option>
    <option>Wife</option>
    <option>Spouse</option>
    <option>Civil Partner</option>
    <option>Partner</option>
    <option>Father</option>
    <option>Mother</option>
    <option>Son</option>
    <option>Daughter</option>
    <option>Brother</option>
    <option>Sister</option>
    <option>Other</option>
    <option>Aunt</option>
    <option>Boyfriend</option>
    <option>Brother-in-law</option>
    <option>Daughter-in-law</option>
    <option>Executor</option>
    <option>Ex-husband</option>
    <option>Ex-partner</option>
    <option>Ex-wife</option>
    <option>Father-in-law</option>
    <option>Friend</option>
    <option>Girlfriend</option>
    <option>Granddaughter</option>
    <option>Grandfather</option>
    <option>Grandmother</option>
    <option>Grandson</option>
    <option>Mother-in-law</option>
    <option>Nephew</option>
    <option>Niece</option>
    <option>Sister-in-law</option>
    <option>Son-in-law</option>
    <option>Stepbrother</option>
    <option>Stepdaughter</option>
    <option>Stepfather</option>
    <option>Stepmother</option>
    <option>Stepsister</option>
    <option>Stepson</option>
    <option>Uncle</option>
  </select>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-body">
      Do you live at the same address as the person who's died?
    </legend>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="same-address-yes" name="informer-same-address" type="radio" value="yes" data-aria-controls="conditional-same-address-yes">
        <label class="govuk-label govuk-radios__label" for="same-address-yes">Yes</label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="same-address-no" name="informer-same-address" type="radio" value="no" data-aria-controls="conditional-same-address-no">
        <label class="govuk-label govuk-radios__label" for="same-address-no">No</label>
      </div>

    </div>

    <!-- YES -->
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-same-address-yes">

      <div class="govuk-form-group">
        <label class="govuk-label" for="informer-contact-number">Contact number</label>
        <input class="govuk-input" id="informer-contact-number" name="informer-contact-number">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="informer-contact-email">Email</label>
        <input class="govuk-input" id="informer-contact-email" name="informer-contact-email">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Will you be dealing with the estate?
          </legend>

          <div class="govuk-radios govuk-radios--inline">
            <input class="govuk-radios__input" id="estate-yes" name="informer-dealing-with-estate" type="radio" value="yes">
            <label class="govuk-label" for="estate-yes">Yes</label>

            <input class="govuk-radios__input" id="estate-no" name="informer-dealing-with-estate" type="radio" value="no">
            <label class="govuk-label" for="estate-no">No</label>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend>Are you the next of kin?</legend>

          <div class="govuk-radios govuk-radios--inline">
            <input class="govuk-radios__input" id="nok-yes" name="informer-is-next-of-kin" type="radio" value="yes">
            <label for="nok-yes">Yes</label>

            <input class="govuk-radios__input" id="nok-no" name="informer-is-next-of-kin" type="radio" value="no">
            <label for="nok-no">No</label>
          </div>
        </fieldset>
      </div>

    </div>

    <!-- NO -->
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-same-address-no">
      <h2 class="govuk-heading-m">Your details</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-contact-house-number">
            House number or name
          </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="informer-contact-postcode" name="informer-contact-postcode" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-contact-postcode">
            Postcode
          </label>
        <input class="govuk-input govuk-!-width-one-quarter disabled" id="informer-contact-house-number" name="informer-contact-postcode" type="text">
        </div>
    </div>

  </fieldset>
</div>

{{ govukButton({
  text: "Continue",
  href: "about-the-next-of-kin"
}) }}

</div>
</div>

{% endblock %}