{% extends "layouts/main.html" %}

{% set pageName="About the person who's died" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="/current/their-national-insurance-number" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">About the person who's died</h1>

      <!---------Their details-------->

      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Title
          </label>
          <div id="name-hint" class="govuk-hint">
            Please select an option from the list. If the required option is not available please select 'Other' and
            enter
            manually
          </div>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>Please select</option>
            <option value="updated">Mr</option>
            <option value="views">Mrs</option>
            <option value="comments">Miss</option>
            <option value="comments">Ms</option>
            <option value="comments">Rev</option>
            <option value="comments">Dr</option>
            <option value="comments">Other</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Marital status
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>Please select</option>
            <option value="updated">Single</option>
            <option value="views">Married</option>
            <option value="comments">Civil Partnership</option>
            <option value="comments">Civil Partnership Dissolved</option>
            <option value="views">Divorced</option>
            <option value="views">Separated</option>
            <option value="views">Widowed</option>
            <option value="views">Surviving Civil Partner</option>

          </select>
        </div>
      </fieldset>

      <!---------Radios Q1-------->

      <div class="govuk-form-group govuk-!-padding-top-3">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <label class="govuk-body">
            Do they have another address?
          </label>
          <div id="name-hint" class="govuk-hint">
            For example, if they have a home address that is different from the one given when the death was registered.
          </div>
          </legend>
          <div id="name-hint" class="govuk-hint">
            This will help us understand which local council we should notify about the death. They may have been paying
            Council Tax or receiving council services at another address.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input {% if (data['deceased-has-other-address']=="yes" ) %}checked{% endif %} class="govuk-radios__input"
                id="deceased-has-other-address" name="deceased-has-other-address" type="radio" value="yes"
                data-aria-controls="conditional-deceased-has-other-address">
              <label class="govuk-label govuk-radios__label" for="deceased-has-other-address">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceased-has-other-address-2" name="deceased-has-other-address"
                type="radio" value="no" data-aria-controls="conditional-deceased-has-other-address-2">
              <label class="govuk-label govuk-radios__label" for="deceased-has-other-address-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-deceased-has-other-address-2">
            </div>
          </div>
          <div class="govuk-radios__conditional {% if (data['deceased-has-other-address'] != 'yes') %}govuk-radios__conditional--hidden{% endif %}"
     id="conditional-deceased-has-other-address">

            <!---------Have another address – Yes routing-------->

            <!---------Postcode look up-------->

            <div class="flex-container">

              <!-- Lookup -->
              {% if (data['deceased-address-state'] != "manual") %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="deceased-lookup" index="tab-1">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Their other address
                  </legend>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="deceased-address-postcode">
                      Postcode
                    </label>
                    <div id="deceased-address-postcode-hint" class="govuk-hint">
                      For example, AA3 1AB.
                    </div>
                    <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-postcode"
                      name="deceased-address-postcode" type="text" aria-describedby="deceased-address-postcode-hint">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="deceased-address-search-string">
                      Building number or name
                    </label>
                    <div id="deceased-address-search-string-hint" class="govuk-hint">
                      For example, 15 or Prospect Cottage.
                    </div>
                    <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-search-string"
                      name="deceased-address-search-string" type="text"
                      aria-describedby="deceased-address-search-string-hint">
                  </div>


                  <div class="govuk-form-group">
                    <button class="govuk-button" id="deceased-findaddressbutton"
                      formaction="/current/deceased-address-results">
                      Find address
                    </button>
                  </div>

                  <!-- Results None -->
                  {% if (data['deceased-address-result-type'] == "none")%}
                  <div class="govuk-form-group" id="resultlist-none">
                    <div class="govuk-inset-text">
                      No address found for SW12 0BL, check the postcode, or <a class="govuk-link"
                        href="/current/deceased-address-manual">enter
                        the address manually</a>.
                    </div>
                  </div>
                  {% else %}
                  <p><a class="govuk-link" href="/current/deceased-address-manual">Manually
                      enter address</a></p>
                  {% endif %}
                  <!-- End results None -->

                </fieldset>
              </div>
              
              <!-- End lookup -->

              {% endif %}

              <div class="govuk-form-group">
                <!-- Results Radio -->
                {% if (data['deceased-address-result-type'] == "radio" and data['deceased-address-state'] != "manual") %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="results--radio-hint"
                    id="deceased-resultlist-radio">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Select the address
                    </legend>
                    <div id="results--radio-hint" class="govuk-hint">
                      30 addresses found for SW12 0BL
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-1"
                          name="deceased-address" type="radio"
                          value="49A|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457488|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-1">49A
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-2"
                          name="deceased-address" type="radio"
                          value="49B|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457489|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-2">49B
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-3"
                          name="deceased-address" type="radio"
                          value="49C|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457490|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-3">49C
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-4"
                          name="deceased-address" type="radio"
                          value="49D|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457491|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-4">49D
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-5"
                          name="deceased-address" type="radio"
                          value="51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100023674148|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-5">51
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-6"
                          name="deceased-address" type="radio"
                          value="53|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100023674149|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-6">53
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-7"
                          name="deceased-address" type="radio"
                          value="55B|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457498|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-7">55B
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-8"
                          name="deceased-address" type="radio"
                          value="55C|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457499|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-8">55C
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-9"
                          name="deceased-address" type="radio"
                          value="55D|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457500|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-9">55D
                          CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-10"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 1|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612111|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-10">FLAT
                          1, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-11"
                          name="deceased-address" type="radio"
                          value="FLAT 1, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820783|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-11">FLAT
                          1, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-12"
                          name="deceased-address" type="radio"
                          value="FLAT 1, 53|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820791|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-12">FLAT
                          1, 53 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-13"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 2|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612112|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-13">FLAT
                          2, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-14"
                          name="deceased-address" type="radio"
                          value="FLAT 2, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820784|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-14">FLAT
                          2, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-15"
                          name="deceased-address" type="radio"
                          value="FLAT 2, 53|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000521544|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-15">FLAT
                          2, 53 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-16"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 3|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612113|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-16">FLAT
                          3, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-17"
                          name="deceased-address" type="radio"
                          value="FLAT 3, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820785|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-17">FLAT
                          3, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-18"
                          name="deceased-address" type="radio"
                          value="FLAT 3, 53|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000521543|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-18">FLAT
                          3, 53 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-19"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 4|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612114|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-19">FLAT
                          4, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-20"
                          name="deceased-address" type="radio"
                          value="FLAT 4, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820786|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-20">FLAT
                          4, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-21"
                          name="deceased-address" type="radio"
                          value="FLAT 4, 53|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000521545|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-21">FLAT
                          4, 53 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-22"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 5|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612115|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-22">FLAT
                          5, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-23"
                          name="deceased-address" type="radio"
                          value="FLAT 5, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820787|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-23">FLAT
                          5, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-24"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 6|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612116|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-24">FLAT
                          6, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-25"
                          name="deceased-address" type="radio"
                          value="FLAT 6, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820788|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-25">FLAT
                          6, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-26"
                          name="deceased-address" type="radio"
                          value="1B, FLAT 7|KLEA AVENUE|LONDON||United Kingdom|SW12 0BL|10095612117|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-26">FLAT
                          7, 1B KLEA AVENUE, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-27"
                          name="deceased-address" type="radio"
                          value="FLAT 7, 51|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100021820789|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-27">FLAT
                          7, 51 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-28"
                          name="deceased-address" type="radio"
                          value="FLAT A, 55|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457497|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-28">FLAT
                          A, 55 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-29"
                          name="deceased-address" type="radio"
                          value="FLAT B-D, 55|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|100023674151|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-29">FLAT
                          B-D, 55 CAVENDISH ROAD, LONDON, SW12 0BL</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input" id="deceased-address-30"
                          name="deceased-address" type="radio"
                          value="47, POLICE STATION|CAVENDISH ROAD|LONDON||United Kingdom|SW12 0BL|200000457486|"><label
                          class="govuk-label govuk-radios__label" for="deceased-address-30">POLICE STATION, 47 CAVENDISH
                          ROAD, LONDON,
                          SW12 0BL</label></div>
                    </div>
                  </fieldset>
                </div>
                {% endif %}
                <!-- End results radio -->

                <!-- Manual Entry -->
                {% if (data['deceased-address-state'] == "manual") %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" id="deceased-manual">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Address of hospital, hospice, nursing home or care home
                    </legend>
                    <p><a class="govuk-link" href="/current/deceased-address">Use
                        postcode lookup</a></p>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="deceased-address-line-1">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="deceased-address-line-1" name="deceased-address-line-1" type="text"
                        autocomplete="address-line1">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="deceased-address-line-2">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="deceased-address-line-2" name="deceased-address-line-2" type="text"
                        autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="deceased-address-town">
                        Town or city
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-town"
                        name="deceased-address-town" type="text" autocomplete="address-level2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="deceased-address-county">
                        County (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-county"
                        name="deceased-address-county" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="deceased-address-postcode">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="deceased-address-postcode"
                        name="deceased-address-postcode" type="text" autocomplete="postal-code">
                    </div>
                  </fieldset>
                </div>
                {% endif %}
                <!-- End manual entry -->
                <!-- END OF ADDRESS SECTION -->
                <!-- END REVEALED CONTENT -->
              </div>
            </div>
        </fieldset>
      </div>

      <!---------Radios Q2-------->

      <div class="govuk-form-group govuk-!-padding-top-3">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <label class="govuk-body">

            Did they die in a hospital, hospice, nursing home or care home?

          </label>

          </legend>

          <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input {% if (data['place-of-death-address']=="yes" ) %}checked{% endif %} class="govuk-radios__input"
                id="place-of-death-address" name="place-of-death-address" type="radio" value="yes"
                data-aria-controls="conditional-place-of-death-address">
              <label class="govuk-label govuk-radios__label" for="place-of-death-address">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="place-of-death-address-2" name="place-of-death-address"
                type="radio" value="no" data-aria-controls="conditional-place-of-death-address-2">
              <label class="govuk-label govuk-radios__label" for="place-of-death-address-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-place-of-death-address-2">
            </div>
          </div>
          <div class="govuk-radios__conditional {% if (data['place-of-death-address'] != 'yes') %}govuk-radios__conditional--hidden{% endif %}"
     id="conditional-place-of-death-address">

            <!---------Have another address – Yes routing-------->

            <!---------Postcode look up-------->

            <div class="flex-container">

              <div class="govuk-form-group">
                <label class="govuk-label" for="place-of-death-name">
                  Name of hospital, hospice, nursing home or care home
                </label>
                <input class="govuk-input" id="place-of-death-name" name="place-of-death-name" type="text">
              </div>

              <!-- Lookup -->
              {% if (data['place-of-death-address-state'] != "manual") %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="place-lookup" index="tab-1">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Their other address
                  </legend>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="place-of-death-address-postcode">
                      Postcode
                    </label>
                    <div id="place-of-death-address-postcode-hint" class="govuk-hint">
                      For example, AA3 1AB.
                    </div>
                    <input class="govuk-input govuk-!-width-two-thirds" id="place-of-death-address-postcode"
                      name="place-of-death-address-postcode" type="text"
                      aria-describedby="place-of-death-address-postcode-hint">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="place-of-death-address-search-string">
                      Building number or name
                    </label>
                    <div id="search-string-hint" class="govuk-hint">
                      For example, 15 or Prospect Cottage.
                    </div>
                    <input class="govuk-input govuk-!-width-two-thirds" id="place-of-death-address-search-string"
                      name="place-of-death-address-search-string" type="text"
                      aria-describedby="place-of-death-address-search-string-hint">
                  </div>


                  <div class="govuk-form-group">
                    <button class="govuk-button" id="place-findaddressbutton"
                      formaction="/current/place-of-death-address-results">
                      Find address
                    </button>
                  </div>

                  <!-- Results None -->
                  {% if (data['place-of-death-address-result-type'] == "none") %}
                  <div class="govuk-form-group" id="resultlist-none">
                    <div class="govuk-inset-text">
                      No address found for SW12 0BL, check the postcode, or <a class="govuk-link"
                        href="/current/place-of-death-address-manual">enter
                        the address manually</a>.
                    </div>
                  </div>
                  {% else %}
                  <p><a class="govuk-link" href="/current/place-of-death-address-manual">Manually
                      enter address</a></p>
                  {% endif %}
                  <!-- End results None -->

                </fieldset>
              </div>
              {% endif %}
              <!-- End lookup -->

              <div class="govuk-form-group">
                <!-- Results Radio -->
                {% if (data['place-of-death-address-result-type'] == "radio" and data['place-of-death-address-state'] != "manual") %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="results--radio-hint" id="place-resultlist-radio">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Select the address
                    </legend>
                    <div id="results--radio-hint" class="govuk-hint">
                      6 addresses found for M20 3AB
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-1"
           name="place-of-death-address-selection"
           type="radio"
           value="Rosewood Care Home|12 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-1">
      Rosewood Care Home, 12 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-2"
           name="place-of-death-address-selection"
           type="radio"
           value="10 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-2">
      10 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-3"
           name="place-of-death-address-selection"
           type="radio"
           value="14 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-3">
      14 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-4"
           name="place-of-death-address-selection"
           type="radio"
           value="16 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-4">
      16 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-5"
           name="place-of-death-address-selection"
           type="radio"
           value="Sunnybank Nursing Home|2 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-5">
      Sunnybank Nursing Home, 2 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input"
           id="place-address-6"
           name="place-of-death-address-selection"
           type="radio"
           value="Meadow View Care Centre|5 Oak Lane|Didsbury|Manchester||M20 3AB">

    <label class="govuk-label govuk-radios__label"
           for="place-address-6">
      Meadow View Care Centre, 5 Oak Lane, Didsbury, Manchester M20 3AB
    </label>
  </div>

</div>
                  </fieldset>
                </div>
                {% endif %}
                <!-- End results radio -->

                <!-- Manual Entry -->
                {% if (data['place-of-death-address-state'] == "manual") %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" id="place-manual">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Enter the address of hospital, hospice, nursing home or care home
                    </legend>
                    <p><a class="govuk-link" href="/current/place-of-death-address">Use
                        postcode lookup</a></p>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="place-of-death-address-line-1">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="place-of-death-address-line-1" name="place-of-death-address-line-1"
                        type="text" autocomplete="place-of-death-address-line-1">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="place-of-death-address-line-2">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="place-of-death-address-line-2" name="place-of-death-address-line-2"
                        type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="place-of-death-address-town">
                        Town or city
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="place-of-death-address-town"
                        name="place-of-death-address-town" type="text" autocomplete="address-level2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="place-of-death-address-county">
                        County (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="place-of-death-address-county"
                        name="place-of-death-address-county" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="place-of-death-address-postcode">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="place-of-death-address-postcode"
                        name="place-of-death-address-postcode" type="text" autocomplete="postal-code">
                    </div>
                  </fieldset>
                </div>
                {% endif %}
                <!-- End manual entry -->

                <!-- END OF ADDRESS SECTION -->


                <!-- END REVEALED CONTENT -->
              </div>

            </div>


        </fieldset>
      </div>

      <!---------button-------->

      <button class="govuk-button">
        Continue
      </button>

      </form>

      <!---------Contact us for help-------->

      <details class="govuk-details govuk-!-padding-top-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0800 085 7308</p>
          <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign
              Language
              (BSL) (opens in new tab)</a></p>
          <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
          <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
        </div>
      </details>
    </div>
  </div>
<script>
  // this checks for the scoped hash as an id within the address and ensures the label is visible when scrolled
  var hashParam = location.hash;
  var validHash =
    document.querySelector("#conditional-deceased-has-other-address " + hashParam) ||
    document.querySelector("#conditional-place-of-death-address " + hashParam);
  if (validHash) {
    hashParam = hashParam.slice(1);
    setTimeout(function () {
      focusTarget(hashParam);
    }, 50);
  }
  // below functions are part of govuk
  function focusTarget(inputId) {
    const $input = document.getElementById(inputId)
    if (!$input) {
      return false
    }

    const $legendOrLabel = this.getAssociatedLegendOrLabel($input)
    if (!$legendOrLabel) {
      return false
    }
    // Scroll the legend or label into view *before* calling focus on the input
    // to avoid extra scrolling in browsers that don't support `preventScroll`
    // (which at time of writing is most of them...)
    $legendOrLabel.scrollIntoView()
    $input.focus({ preventScroll: true })

    return true
  }

  function getAssociatedLegendOrLabel($input) {
    const $fieldset = $input.closest('fieldset')

    if ($fieldset) {
      const $legends = $fieldset.getElementsByTagName('legend')

      if ($legends.length) {
        const $candidateLegend = $legends[0]

        // If the input type is radio or checkbox, always use the legend if
        // there is one.
        if (
          $input instanceof HTMLInputElement &&
          ($input.type === 'checkbox' || $input.type === 'radio')
        ) {
          return $candidateLegend
        }

        // For other input types, only scroll to the fieldset’s legend (instead
        // of the label associated with the input) if the input would end up in
        // the top half of the screen.
        //
        // This should avoid situations where the input either ends up off the
        // screen, or obscured by a software keyboard.
        const legendTop = $candidateLegend.getBoundingClientRect().top
        const inputRect = $input.getBoundingClientRect()

        // If the browser doesn't support Element.getBoundingClientRect().height
        // or window.innerHeight (like IE8), bail and just link to the label.
        if (inputRect.height && window.innerHeight) {
          const inputBottom = inputRect.top + inputRect.height

          if (inputBottom - legendTop < window.innerHeight / 2) {
            return $candidateLegend
          }
        }
      }
    }

    return (
      document.querySelector(`label[for='${$input.getAttribute('id')}']`) ??
      $input.closest('label')
    )
  }

</script>
{% endblock %}