{% extends "layouts/main.html" %}

{% set pageName="Check your answers (4 of 4)" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <!--------- Who do you want to notify?-------->

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              About the person who was married or in a civil partnership with the person who’s died
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> About the person who was married or in a civil partnership with the person who’s died</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <section aria-labelledby="their-details-heading">
              <h3 id="their-details-heading" class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-1">Their details</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Title (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['dwp-benefits'] | capitalize }}
                  </dd>
                </div>
              </dl>
            </section>
            <section aria-labelledby="council-heading">
              <h3 id="council-heading" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Local council</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Council Tax
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['council-tax'] | capitalize }}
                  </dd>
                </div>
              </dl>
            </section>
          </div>
        </div>

        <!---------Public sector pension providers-------->
        {% if data['has-ni-number'] == "yes" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              {% if data['pensions'] %}
              {% if (data['pensions'].length) >= 2 or (data['pensions'].includes('I do not want to notify any public sector pension providers')) %}
              Notify public sector pension providers
              {% elif (data['pensions'].length) < 2 %} Notify a public sector pension provider {% endif %} {% else %} Public sector pensions {% endif %} </h2>
                {% if data['public-sector-pensions-found'] != 'no' %}
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="../pensions/notify-a-public-sector-pension">Change<span class="govuk-visually-hidden"> public sector pension providers</span></a>
                  </li>
                </ul>
                {% endif %}
          </div>
          {% if data['public-sector-pensions-found'] == 'no' %}
          <div class="govuk-summary-card__content govuk-!-padding-bottom-0">
            <p class="govuk-body">We've found no public sector pensions that match the National Insurance number of the person who’s died.</p>
          </div>
          {% else %}
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  {% if data['pensions'].includes('I do not want to notify any public sector pension providers') %}
                  Public sector pension providers you want to notify about the death
                  {% elif data['pensions'].length < 2 %} Do you want to notify Civil Service Pension about the death? {% else %} Public sector pension providers you want to notify about the death {% endif %} </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['pensions'].includes('I do not want to notify any public sector pension providers') %}
                  I do not want to notify any public sector pension providers
                  {% elif data['pensions'].length < 2 %} Yes {% else %} <ul class="govuk-list">
                    {% for pension in data['pensions'] %}
                    <li>{{pension}}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </dd>
              </div>
            </dl>
          </div>
          {% endif %}
        </div>
        {% endif %}

        <form class="form" action="check-your-answers-4" method="post" novalidate>
          <button class="govuk-button">Continue</button>
        </form>
      </div>
    </div>

    <!---------Contact us for help-------->

    <details class="govuk-details govuk-!-padding-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign
            Language (BSL) (opens in new tab)</a></p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
      </div>
    </details>
  </div>
</div>
</div>
{% endblock %}