{% extends "layouts/main.html" %}

{% set pageName="Check your answers (1 of 4)" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">{{pageName}}</h1>

          <!---------About you-------->
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About you
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> about you</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Title
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-title'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-first-name'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Surname
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-last-name'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Your relationship with the person who's died
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-relationship'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do you live at the same address as the person who’s died? 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-same-address'] | capitalize}}
                  </dd>
                </div>
                {% if data['informer-same-address'] == 'no' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Your address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-address-house-number'] | capitalize }} {{data['informer-address-road'] | capitalize }}<br>
                    {{data['informer-address-town'] | capitalize}}<br>
                    {{data['informer-address-county'] | capitalize}}<br>
                    {{data['informer-address-postcode'] | upper}}<br>
                    {{data['informer-address-country'] | capitalize}}
                  </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact telephone number (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-contact-number'] | capitalize}}
                  </dd>
                </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact email address (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-contact-email']}}
                  </dd>
                </div>
                                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Will you be dealing with the estate of the person who’s died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-deal-estate'] | capitalize}}
                  </dd>
                </div>
                                                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Are you the next of kin?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['informer-next-of-kin'] | capitalize}}
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <!---------About the next of kin-------->
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About the next of kin
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> about next of kin</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Is there a next of kin?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['is-next-of-kin'] | capitalize }}
                  </dd>
                </div>
                {% if data['is-next-of-kin'] == "yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Title (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-title'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-first-name'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Surname
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-last-name'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Next of kin’s relationship to the person who’s died 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-relationship'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Can the next of kin be contacted?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-contact'] | capitalize}}
                  </dd>
                </div>
                {% if data['next-of-kin-contact'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Their address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-address-house-number'] | capitalize }} {{data['next-of-kin-address-road'] | capitalize}}<br>
                    {{data['next-of-kin-address-town'] | capitalize}}<br>
                    {{data['next-of-kin-address-county'] | capitalize}}<br>
                    {{data['next-of-kin-address-postcode'] | upper}}<br>
                    {{data['next-of-kin-address-country'] | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact telephone number (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-contact-number'] | capitalize}}
                  </dd>
                </div>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contact email address (optional)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-contact-email']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Will they be dealing with the estate of the person who’s died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['next-of-kin-deal-estate'] | capitalize}}
                  </dd>
                </div>
                {% endif %}
                {% endif %}
              </dl>
            </div>
          </div>

          

          
          <form class="form" action="./notify-public-sector-pension-providers/confirmation" method="post" novalidate>
            <button class="govuk-button">Continue</button>
          </form>
        </div>
      </div>

      <!---------Contact us for help-------->

      <details class="govuk-details govuk-!-padding-top-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Telephone</h3>
          <p class="govuk-body">0800 085 7308</p>
          <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign
              Language (BSL) (opens in new tab)</a></p>
          <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
          <h3 class="govuk-heading-s">Email</h3>
          <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
        </div>
      </details>
  </div>
</div>
</div>
{% endblock %}