{% extends "layouts/main.html" %}

{% set pageName="Check your answers (3 of 4)" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <!--------- Who do you want to notify?-------->

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Tell us who you want to notify about the death
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> who you want to notify</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <section aria-labelledby="dwp-heading">
              <h3 id="dwp-heading" class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-1">Tax, benefits, entitlements including State Pension</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Department of Work and Pensions (DWP) benefits and entitlements
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['dwp-benefits'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    HMRC Personal Tax
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['hmrc-personal-tax'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    HMRC Benefits and Credits
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['hmrc-benefits-and-credits'] | capitalize }}
                  </dd>
                </div>
              </dl>
            </section>
            <section aria-labelledby="council-heading">
              <h3 id="council-heading" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Local council</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Council Tax
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['council-tax'] | capitalize }}
                  </dd>
                </div>
                {% if data['council-tax'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    How many people over the age of 18 now live in the property?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['council-tax-18'] %}
                    {{ data['council-tax-18'] | capitalize }}
                    {% else %}
                    Not provided
                    {% endif %}
                  </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Housing Benefit
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['housing-benefit'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Library services
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['library-services'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Electoral services
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['electoral-services'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Adult social services
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['adult-social-services'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Sundry debts or miscellaneous Income
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['sundry-debts'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Blue Badge
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['blue-badge'] | capitalize }}
                  </dd>
                </div>
                {% if data['blue-badge'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Blue Badge reference number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['blue-badge-reference'] %}
                    {{ data['blue-badge-reference'] | upper }}
                    {% else %}
                    Not provided
                    {% endif %}
                  </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Concessionary travel
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['concessionary-travel'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Assisted waste collection
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['assisted-waste'] | capitalize }}
                  </dd>
                </div>
              </dl>
            </section>
            <section aria-labelledby="passport-driving-heading">
              <h3 id="pasport-driving-heading" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Passport and driving</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Passport
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['passport'] | capitalize }}
                  </dd>
                </div>
                {% if data['passport'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Place of birth as it appears on their passport
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['passport-place-of-birth'] %}
                    {{ data['passport-place-of-birth'] }}
                    {% else %}
                    Not provided
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Passport number of the person who died
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['passport-number'] %}
                    {{ data['passport-number'] }}
                    {% else %}
                    Not provided
                    {% endif %}
                  </dd>
                </div>
                {% if data['passport-number-2'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Second passport number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['passport-number-2'] }}
                  </dd>
                </div>
                {% endif %}
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    UK driving licence
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['driving-licence'] | capitalize }}
                  </dd>
                </div>
                {% if data['driving-licence'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Driving licence number of the person who died
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['driving-licence-number'] | upper }}
                  </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Registered keeper of a motor vehicle
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['registered-keeper'] | capitalize }}
                  </dd>
                </div>
                {% if data['registered-keeper'] == 'yes' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Vehicle registration number 1
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['vehicle-registration-number-1'] | upper }}
                  </dd>
                </div>
                {% if data['vehicle-registration-number-2'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Vehicle registration number 2
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['vehicle-registration-number-2'] | upper }}
                  </dd>
                </div>
                {% endif %}
                {% if data['vehicle-registration-number-3'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Vehicle registration number 3
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['vehicle-registration-number-3'] | upper }}
                  </dd>
                </div>
                {% endif %}
                {% if data['vehicle-registration-number-4'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Vehicle registration number 4
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['vehicle-registration-number-4'] | upper }}
                  </dd>
                </div>
                {% endif %}
                {% if data['vehicle-registration-number-5'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Vehicle registration number 5
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['vehicle-registration-number-5'] | upper }}
                  </dd>
                </div>
                {% endif %}
                {% endif %}
              </dl>
            </section>
            <section aria-labelledby="armed-forces-pension-heading">
              <h3 id="armed-forces-pension-heading" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Armed forces pensions and compensation schemes</h3>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-!-font-weight-regular">
                    Armed forces pension schemes
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['armed-forces-pension-scheme'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    War Pensions Scheme
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['war-pensions-scheme'] | capitalize }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Armed Forces Compensation Scheme
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['armed-forces-compensation-scheme'] | capitalize }}
                  </dd>
                </div>
              </dl>
            </section>
          </div>
        </div>

        <!---------Public sector pension providers-------->
        {% if data['has-ni-number'] == "yes" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              {% if data['pensions'] %}
              {% if (data['pensions'].length) >= 2 or (data['pensions'].includes('I do not want to notify any public sector pension providers')) %}
              Notify public sector pension providers
              {% elif (data['pensions'].length) < 2 %} Notify a public sector pension provider {% endif %} {% else %} Public sector pensions {% endif %} </h2>
                {% if data['public-sector-pensions-found'] != 'no' %}
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="../pensions/notify-a-public-sector-pension">Change<span class="govuk-visually-hidden"> public sector pension providers</span></a>
                  </li>
                </ul>
                {% endif %}
          </div>
          {% if data['public-sector-pensions-found'] == 'no' %}
          <div class="govuk-summary-card__content govuk-!-padding-bottom-0">
            <p class="govuk-body">We've found no public sector pensions that match the National Insurance number of the person who’s died.</p>
          </div>
          {% else %}
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  {% if data['pensions'].includes('I do not want to notify any public sector pension providers') %}
                  Public sector pension providers you want to notify about the death
                  {% elif data['pensions'].length < 2 %} Do you want to notify Civil Service Pension about the death? {% else %} Public sector pension providers you want to notify about the death {% endif %} </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['pensions'].includes('I do not want to notify any public sector pension providers') %}
                  I do not want to notify any public sector pension providers
                  {% elif data['pensions'].length < 2 %} Yes {% else %} <ul class="govuk-list">
                    {% for pension in data['pensions'] %}
                    <li>{{pension}}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </dd>
              </div>
            </dl>
          </div>
          {% endif %}
        </div>
        {% endif %}

        <form class="form" action="check-your-answers-4" method="post" novalidate>
          <button class="govuk-button">Continue</button>
        </form>
      </div>
    </div>

    <!---------Contact us for help-------->

    <details class="govuk-details govuk-!-padding-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign
            Language (BSL) (opens in new tab)</a></p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
      </div>
    </details>
  </div>
</div>
</div>
{% endblock %}