{% extends "layouts/main.html" %}
{% set pageName="What we’ll ask about who you want to notify about the death" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">We'll ask if you want to notify:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tax, benefits and entitlements (including State Pension)</li>
      <li>local council services, such as Council Tax, Housing Benefit and Blue Badge passport, driving and vehicle services</li>
      <li>armed forces pension and compensation schemes</li>
      <li>public sector pension providers (if they worked in the public sector, for example,  in the NHS, local government or civil service)</li>
    </ul>

    <p class="govuk-body">If they died in a hospital, care home, nursing home or hospice we’ll also ask:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for the name and address of that institution</li>
      <li>if they were there for more than 28 days before they died</li>
    </ul>

    <!---------button-------->

    {{ govukButton({
    text: "Continue",
    href: 'who-do-you-want-to-notify'
    }) }}

    <!---------If any of these details are wrong-------->

  </div>
</div>

{% include "includes/contact.njk" %}

{% endblock %}