{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter death registration details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sorry, this page has expired 
    </h1>
    <p class="govuk-body">
      This is because you have not used Tell Us Once for more than 20 minutes. We do this to protect your information.
    </p>
    <p class="govuk-body">
      You will need to start again.
    </p>
    <button class="govuk-button">Start again</button>
  </div>
</div>

{% endblock %}