.print-document,
.print-document-2 {
  display: none;
}

@media print {

  @page {
    size: A4;
    margin: 1cm 1cm;  
  }

  body {
  margin: 0;
  padding: 0;
}

.govuk-body {
  font-size: 14pt;
}

  /* hide normal page content */
  header,
  footer,
  .govuk-generic-header,
  .govuk-service-navigation,
  .govuk-back-link,
  .govuk-grid-row,
  .govuk-grid-column-full,
  .govuk-grid-column-two-thirds {
    display: none !important;
  }

.govuk-main-wrapper,
.govuk-width-container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

  /* show both print sections by default */
  .print-document,
  .print-document-2 {
    display: none;
  }

  /* show selected one */
body.print-doc-1 .print-document {
  display: block;
}

body.print-doc-1 .print-document-2 {
  display: none !important;
  height: 0;
  overflow: hidden;
}

body.print-doc-2 .print-document-2 {
  display: block;
}

body.print-doc-2 .print-document {
  display: none !important;
  height: 0;
  overflow: hidden;
}

  /* tidy layout */
  .print-document,
  .print-document-2 {
    padding: 0.5cm ;
    top: 0;
  }

  .tuo-ref {
    padding: 1rem 0;
    border: 2px solid black;
    margin: 2rem 0;
  }

  .tuo-ref-desc {
    margin-bottom: .5rem;
    padding-bottom: 0;
  }

  .tuo-ref-num {
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}