{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }} prototypes
      </h1>

      <p class="govuk-body-l">Prototypes, designs and design ideas for the Tell Us Once service.</p>
      <h2 class="govuk-heading-m">Prototypes</h2>
      <p class="govuk-body">Prototypes for testing new designs for the service.</p>
      <a href="v1/start"><button class="govuk-button">Start prototype V1</button></a>
      <h2 class="govuk-heading-m">As-is live service</h2>
      <p class="govuk-body">A prototype version of the current live service for use in usability testing.</p>
      <a href="as-is/before-you-start"><button class="govuk-button">Start the as-is prototype</button></a>
      <h3 class="govuk-heading-s">Iterations to the live service</h3>
      <p class="govuk-body">Designs for iterations and design changes on the live service.</p>
      <ul class="govuk-list">
        <li><a href="iterations/before-we-send_agent">Before we send page - agent view</a></li>
        <li><a href="iterations/before-we-send_citizen">Before we send page - citizen view</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
