{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }} prototypes
      </h1>

    

      <p class="govuk-body-l">Prototypes, designs and design ideas for the Tell Us Once service.</p>

      <h2 class="govuk-heading-l">Enrichment</h2>

      <h3 class="govuk-heading-m">Redesign of the service</h3>

      <p class="govuk-body">Prototypes for testing new designs for the service.</p>
      <a href="v1/start"><button class="govuk-button">Start prototype V1</button></a>

      <h3 class="govuk-heading-m">As-is live service</h3>
      <p class="govuk-body">A prototype version of the current live service for use in usability testing.</p>
      <a href="v0/before-you-start"><button class="govuk-button">Start the as-is prototype</button></a>

      <h3 class="govuk-heading-m">Iterations to the live service</h3>
      <p class="govuk-body">Designs for iterations and design changes on the live service.</p>
      <ul class="govuk-list">
        <li><a href="v0_1/before-we-send_agent">Before we send page - agent view</a></li>
        <li><a href="v0_1/before-we-send_citizen">Before we send page - citizen view</a></li>
        <li><a href="v0_1/registration-lookup">Enter registration details</a></li>
        <li><a href="v0_1/pensions/ni-number">Notify pensions</a></li>
        <li><a href="/v0_1/check-your-answers-2_1">Redesigned Check your answers page (About the person who's died)</a></li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">Capture</h2>
      <h3 class="govuk-heading-s">Redesign of the capture journey</h3>
      <p class="govuk-body">A prototype showing new designs for the capture journey of the service.</p>
      <a href="v0_1/capture/details-about-the-person-whos-died"><button class="govuk-button">Start capture prototype v1</button></a>
    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
