
{% extends "layouts/main.njk" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block head %}
  {{ super() }}
  <link href="/public/css/tuo-cards.css" rel="stylesheet" />
{% endblock %}

{% block bodyStart %}
{% if showCookieBanner == true %}
  <div class="govuk-cookie-banner" data-module="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on Tell Us Once">
    <div class="govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">
            Cookies on Tell Us Once
          </h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this service work.</p>
            <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="button" class="govuk-button">Accept analytics cookies</button>
        <button type="button" class="govuk-button">Reject analytics cookies</button>
        <a class="govuk-link" href="#">View cookies</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock %}

{% block header %}

  {{
    dwpHeader({
      serviceName: serviceName,
      serviceHref: "/",
      container: true
    })
  }}
{% endblock %}

{% block footer %}
  {{
    dwpFooter({
      meta: {
        visuallyHiddenTitle: "About this website",
        items: [
          {
            href: "",
            text: "Accessibility statement"
          },
          {
            href: "",
            text: "Privacy"
          },
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          }
        ]
      }
    })
  }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}
