{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Spouse or partner</span>

    <form class="form" action="/v1/deceased-details/next-of-kin/are-you-the-next-of-kin" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              You said you are {{ data['deceased-forename'] }} {{ data['deceased-surname'] }}'s {{data['informer-relationship'] | lower }}. Is this correct?
            </h1>
              </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceased-next-of-kin-informer" name="deceased-next-of-kin-informer" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="deceased-next-of-kin-informer">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceased-next-of-kin-informer-2" name="deceased-next-of-kin-informer" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="deceased-next-of-kin-informer">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

  {{ govukButton({
  text: "Continue"
  }) }}

  </form>

</div>
</div>

{% endblock %}